//ATO Colour variables

//General Teal
$teal-darkest: #254351;
$teal-dark: #04545d;
$teal-mid: #0f979b;

//Navy
$navy-dark: #002341;
$navy-light: #2b3054;

// Greys - background
$grey-darkest: #000000;
$grey-dark: #333333;
$grey-mid: #666666;
$grey-light: #aaaaaa;
$grey-lightest: #cccccc;

//Contextual
$direction-info: #2D75C9;
$primary-focus: #F5D815;