<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="container">

    {% include header.html %}

  <div class="sidebar">
            <img src="images/ato_sidebar_gst.png" alt="sidebar content from ATO.gov.au"/>
        </div>
        <div class="main-content"> 
           
            <img class="printerIcon" src="images/printerIcon.jpg"/>
        
            
        <div class="body-text">
            
        {{ content }}
         
            <br/>
            <br/>
            <br/>
        </div><!-- end .body-text -->

  
      </div>

  </body>

</html>
